<div class="test-controller">

  <select class="user-select"
          placeholder="Select a token"
          [ngModel]="selectedTokenId_()"
          (ngModelChange)="selectedTokenId_.set($event)">
    \>
    <option [value]="0"
            selected>Select a token to test</option>
    @for(token of gameEngineService.tokens.filter(t => t.color === color_());track token;) {
    <option [value]="token.id">{{ token.id }}</option>
    }
  </select>
  @if (selectedTokenId_()!='0') {

  <input type="number"
         placeholder="Change path position"
         [ngModel]="selectedToken_()?.pathPosition_()"
         (ngModelChange)="updateTokenPathPosition($event)">
  <pre class="selected-token">
  {{ selectedToken_()   | json}}
  </pre>
  }
</div>